{% extends 'base.html.twig' %}

{% block title %}Modification d'un relevé{% endblock %}

{% block body %}
    <h1>Modifier un relevé</h1>

    {{ include('releve/_form.html.twig', {'button_label': 'OK'}) }}

    <a class="btn btn-dark" href="{{ path('app_home') }}">Retour à la liste</a>
{% endblock %}
